<!doctype html>
<html lang="en">
<head>
  <title>MyCloud Gate</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="stylesheet" href="/static/css/mocha.css" type="text/css" media="screen">

  <script src="/static/client/build/web/js/app.js"></script>
  <script>require('main');</script>

  <!--script src="/static/client/src/vendor/require.js"></script>
  <script src="/static/client/src/vendor/expect.js"></script>
  <script src="/static/client/src/vendor/mocha.js"></script>
  <script>mocha.setup('bdd')</script>
  <script src="/static/client/test/marketplace.js"></script>
  <script>
    $(function () {
      mocha
        .run()
    })
  </script-->
</head>
<body>
  <div id="content"></div>  
  <div id="mocha"></div>
</body>
</html>
