<!doctype html>
<html lang="en">
<head>
  <title>MyCloud Gate</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="stylesheet" href="/static/css/mocha.css" type="text/css" media="screen">

  <script src="/static/client/build/web/js/app.js"></script>
  <script>require('main');</script>

  {% if test %}
  <script src="/static/client/src/vendor/expect.js"></script>
  <script src="/static/client/src/vendor/mocha.js"></script>
  <script>mocha.setup('bdd')</script>
  <script src="/static/client/test/marketplace.js"></script>
  <script>
    $(function () {
      mocha
        .run()
    })
  </script>
  {% endif %}  
</head>

<body>
  <h3>MyCloud</h3>
  <ul id="menu">
    <li><a id="home-button" href="#home">apps</a></li>
    <li><a id="market-button" href="#market">market</a></li>
  </ul>
  <div id="content"></div>

  {% if test %}
  <hr />
  <div id="mocha">
    <h1>
      Mocha tests
    </h1>
  </div>
  {% endif %}  

</body>

</html>
